anaconda-client
brotlipy
darknet
datacompy
dill
flask
fvcore
gensim
glob2
google
googletrans
gunicorn
jupyter-http-over-ws
keras-applications
mediapipe
mss
natsort
np-utils
rake-nltk
scikit-build
sip
sklearn
svgling
testpath
textblob
tflearn
thop
utils
wandb
wget
wordcloud
xgboost
xmltodict
nltk
wordnet
pros_cons
reuters
